

*{
    background: #D8DFE8;
    font-family: 'inter';
    font-style: 'normal';
    font-weight:400;
    font-size:32px;
    line-height:150%;
}


.logo{
    padding-top: 10px;
    margin-left: 10px;
    width:10%;

}

.titulo{
    color:#0A3871;
    padding-left:20px;
}

main{
    display:flex;
    margin-bottom: 50px;
    margin-left:80px;


}

.text_area{
    border:none;
    color:#0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    
}


::placeholder{ color:#0A3871;}
.text_area{
    outline: none;
}


.mensaje{
    background: white;
    background-position:center;
    background-image: url(/Imagenes%20Copy/muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left:98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display:flex;
    margin-top: 18px;

}

.btn_encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.btn_encriptar:hover{
    background-color:blue;
}


.btn_desencriptar{
    background: #D8DFE8;
    border: 1px solid ©#0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn_desencriptar:hover{
    background-color:lightblue;
}

.copy{
    border: 1px solid #043871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: fixed;
    width: 336px;
}

.copy:hover{
    background-color: lightgrey;
}

.informacion{
    color:#495057;
    font-size: 18px;
}



